@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
  margin: 0 auto;
  width: 40em;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 4em 1em;
  color: #555;
}

h1,
h2,
strong {
  text-align: center;
  margin-top: 0.5em;
  padding-top: 0.5em;
  font-size: 40px;
}

#task {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2em;
  border: #555 solid 2px;
  outline: none;
  height: 30px;
  width: 300px;
  font-size: 18px;
}

#taskList {
  width: 40em;
}

#taskList > div {
  margin-top: 15px;
  border: #555 solid 1px;
  border-collapse: collapse;
  text-align: center;
  font-size: 18px;
}

#taskList > div:hover {
  text-decoration: line-through;
}